body{
  background-color: #181B21 !important;
}

.navbar{
  background-color: #1E1D1E ;
}

.navbar a{
  color: #fff;
}

.navbar .navbar-nav .nav-item a:active{
  color: #F15757;
}

.btnSolid{
  background-color: #F15757 !important;
  color: #181B21;
  border-radius: 15px !important;
}

.btnBorder{
  border: 1px solid #F15757 !important;
  border-radius: 15px !important;
  color: #fff !important;
}

.card{
  background-color: #1E1D1E !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}